/* BARU */
/* .testimonialSlider>.swiper-button-prev:hover,
.testimonialSlider>.swiper-button-next:hover {
  background: #fc942a;
  transition: all 0.25s ease-in-out;
}

.testimonialSlider>.swiper-button-prev:after,
.testimonialSlider>.swiper-button-next:after {
  font-size: 16px;
  color: white;
}

.testimonialSlider>.swiper-button-prev,
.testimonialSlider>.swiper-button-next {
  background: #393F48;
  box-shadow: 0px 4px 10px rgba(15, 27, 51, 0.1);
  top: 10%;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 20;
}

.testimonialSlider>.swiper-button-prev {
  left: 0;
}

.testimonialSlider>.swiper-button-next {
  left: 5%;
} */


.product-images-slider .swiper-slide {
  padding-top: 70%;
  overflow: hidden;
  position: relative;
}

.product-images-slider .swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.product-images-slider .swiper-button-prev {
  left: 30;
  color: #fff;
}

.product-images-slider .swiper-button-next {
  right: 30;
  color: #fff;
}

.product-images-slider-thumbs .swiper-slide {
  cursor: pointer;
  border: 1px solid #dddbdb;
}

.product-images-slider-thumbs .swiper-slide-thumb-active {
  border-color: #393F48;
  border: 4px solid;
}

.product-images-slider-thumbs-wrapper {
  width: 100%;
  padding-top: 65%;
  overflow: hidden;
  position: relative;
}

.product-images-slider-thumbs-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


/* TUTUP BARU */

@media (max-width: 768px) {

  /* .productSlider .swiper-button-prev,
  .productSlider .swiper-button-next,
  .productSlider .swiper-pagination,
  .testimonialSlider >.swiper-button-prev,
  .testimonialSlider >.swiper-button-next {
    display: none;
  } */
  .testimonialSlider>.swiper-button-next {
    left: 8%;
  }

  @media (max-width: 640px) {
    .testimonialSlider>.swiper-button-next {
      left: 14%;
    }

    .testimonialSlider>.swiper-button-prev,
    .testimonialSlider>.swiper-button-next {
      width: 35px;
      height: 35px;
    }

  }
}